.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.createPostProfilePic {
  border: 1px solid var(--newRedditTheme-line);
  -ms-flex-preferred-size: 38px;
  flex-basis: 38px;
  margin-right: 8px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: #8a95aa;


}

.ProfilePic {
  border: 1px solid var(--newRedditTheme-line);
  flex-basis: 38px;
  margin: 5%;
  border-radius: 50%;
  width: 20%;

  background-color: #37384F;
}

